body, div, p, ul, li, h2, h3, li, a, input, button{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
}

body{
    background-color: #0c1120;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    width: 100%;
    max-width: 700px;
}

h2{
    font-size: 42px;
    margin: 0 0 60px;
}

input{
    display: inline-block;
    width: 100%;
    padding: 15px 22px;
    font-size: 16px;
    color: #000;
    margin: 0 0 20px;
}

span{
    display: none;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
}
span.mostrarMensagem--sucesso{
    display: block;
    color: #129535;
    background-color: #b7ebbb;
}
span.mostrarMensagem--falha{
    display: block;
    color: #c81b1b;
    background-color: #ebb7b7;
}

button{
    width: 100%;
    max-width: 200px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    margin: 20px 0 0;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 15px 0;
    cursor: pointer;
}